@{
    Layout = "_Layout";

    ViewData["Title"] = "Home Page";


}

<div class="text-center">
    <h1 class="display-4">como ds</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   <p>hol</p>
</div>
<div class="bg-warning">
    mensa a asa lama llama asasdfl
</div>
