.animate-fadeIn {
    animation: fadeIn .25s ease-out;
}

@keyframes fadeIn {
    from {
        transform: scale(.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}