.container{
  margin: 3rem;
}
button{
  border: 1px solid #ccc;
}
.message-error{
  background-color: red;
  color: #fff;
  opacity: 0;
  transition: all linear .5s;
}
.message-error.show{
  opacity: 1 ;
}
