<div class="grid grid-cols-3 content-center items-center">
  <app-product
    title="Product 1"
    [price]="50"
    img="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaPE/127012055_01/w=800,h=800,fit=pad"
  ></app-product>
    <app-product
    title="Product 1"
    [price]="50"
    img="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaPE/127012055_01/w=800,h=800,fit=pad"
  ></app-product>
    <app-product
    title="Product 1"
    [price]="50"
    img="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaPE/127012055_01/w=800,h=800,fit=pad"
  ></app-product>
    <app-product
    title="Product 1"
    [price]="50"
    img="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaPE/127012055_01/w=800,h=800,fit=pad"
  ></app-product>
</div>
