<h2>Hola, ¿cómo estás {{ user }}?</h2>
<p (click)="Cont()">El número es: {{ numero }}</p>
<p (click)="DisCont()">no se como:{{ numero }}</p>
<input type="text" [(ngModel)]="user" (input)="Cont()" />

@if (condicion) {
<p>la condicion se cumple</p>

}@else {
<p>la segunda condicion no se cumple</p>
}
<h3>CICLO FOR</h3>

@for (fruta of frutas; track fruta) {
<p>{{ fruta }}</p>

}

<h3>RECORRIDO DE OBJETOS</h3>

<ul>
  @for (pais of paises; track pais.id) {
  <li id="{{ pais.id }}">
    <h4>{{ pais.nombre }} su capital es {{ pais.capital }}</h4>
    <img [src]="pais.bandera" alt="" width="200" />
  </li>
  }
</ul>

<h3>COMUNICACIÓN DE PADRE A HIJO</h3>

<p>{{ msg() }}</p>

<ul>
  @for (persona of personas(); track persona) {
  <li>{{ persona.nombre }} {{ persona.apellido }} - {{ persona.edad }} años</li>
  }
</ul>

<h3>COMUNICACION HIJO A PADRE</h3>

<button (click)="handleLogin()">Logear</button>

<h2 [ngClass]="{ dark: isDark }">NgClass PRueba</h2>
<button (click)="toggleDark()">toggle dark</button>

<h2>REACTIVE FORMS</h2>

<form [formGroup]="movieForm" (submit)="handleSubmit()">
  <fieldset>
    <label for="movie-name">Movie Name</label>
    <input type="text" id="movie-name" formControlName="name" />
    @if (name.invalid && name.touched) {
    <p>Name es required</p>
    }
  </fieldset>
  <fieldset>
    <label for="movie-duration">Movie Duration</label>
    <input type="text" id="movie-duration" formControlName="duration" />
    @if (duration.hasError("required")&&duration.touched) {
    <p>duration es required</p>
    }@else if (duration.hasError("max")&&duration.touched){
      <p>movie cannot be longer than 300 minutes</p>
    }
  </fieldset>
  <fieldset>
    <label for="movie-director">Movie Director</label>
    <input type="text" id="movie-director" formControlName="director" />
  </fieldset>

  <button [disabled]="movieForm.invalid">create movie</button>
</form>
