body {
  background-color: #080f28 !important;
}
header {
  max-width: 1240px;
  width: 80%;
}
.nav-link--item {
  transition: color 0.5s ease !important;
}

.nav-link--item:hover {
  color: #007aff !important;
}

.dropdown-toggle::after {
  color: #007aff !important;
}
.submenu {
  background-color: #1e2747 !important;
}
.submenu-genero{
  width: 280px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
}
.dropdown-item {
  padding: 13px 50px 13px 20px !important;
}

.nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #080f28 !important;
  color: #007aff !important;
  transition: color 0.8s ease !important;
}

.section-slider {
  height: 60vh;

  .carousel-item img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to bottom, transparent 1%, black 80%, transparent);
    mask-image: linear-gradient(to bottom, transparent 1%, black 80%, transparent);
  }
  
  .container-info {
    width: 80%;
  }
  .pelicula-title {
    font-size: 3.5rem;
  }
  .container-info span {
    position: relative;
    top:-1rem;
    font-size: 0.6rem;
  }
  .container-informacion p{
    color:     #8DA0BC;
  }

}

.carousel-item {
  cursor: grab;
}
.carousel-item:active {
  cursor: grabbing;
}

