<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaVenta.AplicacionWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/page/layout.css" rel="stylesheet" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
    @*     @section Styles {
        <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    } *@

</head>
<body>
    <div class="contaider-fluid contenedor-page bg-danger">
        <div class="d-flex h-100">
            <aside class="h-100">
                <header class="h-100">
                    <a href="#">Centro de Ventas</a>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 h-100 d-flex align-items-start justify-content-start ">
                        <ul class="d-flex flex-column align-items-start justify-content-start">
                            <li><a href="#">comida</a></li>
                            <li><a href="#">pan</a></li>
                            <li><a href="#">tamal</a></li>
                            <li><a href="#">comida</a></li>
                        </ul>

                    </nav>
                </header>
            </aside>
            <div class="container-fluid bg-dark">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2025 - SistemaVenta.AplicacionWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
